<h1>Clase de pipes</h1>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{var1}}</td>
        <td>uppercase</td>
        <td>{{ var1 | uppercase }}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{var2}}</td>
        <td>lowercase</td>
        <td>{{ var2 | lowercase }}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{var3}}</td>
        <td> slice:0:4 </td>
        <td>{{ var3 | slice:0:4 }}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{var3}}</td>
        <td> slice:8 </td>
        <td>{{ var3 | slice:8 }}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{pi}}</td>
        <td> number  </td>
        <td>{{ pi | number:'3.0-2' }}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{pi}}</td>
        <td> number  </td>
        <td>{{ pi | number:'.0-5' }}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>{{porcentaje}}</td>
        <td> percent  </td>
        <td>{{ porcentaje | percent}}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>{{porcentaje}}</td>
        <td> percent  </td>
        <td>{{ porcentaje | percent:'2.2-2'}}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{salario}}</td>
        <td> currency  </td>
        <td>{{ salario | currency }}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{salario}}</td>
        <td> currency:'EUR'  </td>
        <td>{{ salario | currency:'EUR' }}</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>{{salario}}</td>
        <td> currency:'S/.'  </td>
        <td>{{ salario | currency:'S/.' }}</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>{{salario}}</td>
        <td> currency:'S/.':'symbol-narrow':'.0-0'  </td>
        <td>{{ salario | currency:'S/.':'symbol-narrow':'.0-0' }}</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td> promesa</td>
        <td> async  </td>
        <td>{{ promesa | async }}</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td> {{fecha}}</td>
        <td> date  </td>
        <td>{{ fecha | date }}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td> {{fecha}}</td>
        <td> date:'medium'  </td>
        <td>{{ fecha | date:'medium' }}</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td> {{fecha}}</td>
        <td> date:'short'  </td>
        <td>{{ fecha | date:'short' }}</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td> {{fecha}}</td>
        <td> date:'dd/MM/YYYY'  </td>
        <td>{{ fecha | date:'dd/MM/yyyy' }}</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td> {{nombreSerie}}</td>
        <td> capitalizado  </td>
        <td>{{ nombreSerie | capitalizado }}</td>
      </tr>
      
    </tbody>
  </table>
  
  <div class="row mb-5">
    objeto personaje:
    {{ personaje | json}}
  </div>
